name: Deploy
concurrency:
  group: production
  cancel-in-progress: true
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
      KAMAL_REGISTRY_PASSWORD: ${{ secrets.KAMAL_REGISTRY_PASSWORD }}
      KAMAL_REGISTRY_USER: ${{ secrets.KAMAL_REGISTRY_USER }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      API_KEY: ${{ secrets.API_KEY }}
      VITE_API_KEY: ${{ secrets.API_KEY }}

    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3.0
          bundler-cache: true
      - run: gem install kamal
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - uses: docker/setup-buildx-action@v3
      - run: mkdir -p .kamal/
      - run: env > .kamal/secrets-common
      - run: kamal lock release -d fe
      - run: kamal deploy -d fe
      - run: kamal lock release -d be
      - run: kamal deploy -d be